
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>
<h1>Create new User</h1>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <table>
<!--        <tr>-->
<!--            <td>-->
<!--                <label for="id">Enter id</label>-->
<!--                <input type="number" th:field="*{id}" id="id" required/>-->
<!--                <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id error</div>-->
<!--            </td>-->
<!--        </tr>-->
        <tr>
            <td>
                <label for="userName">Enter userName</label>
                <input type="text" th:field="*{userName}" id="userName" required/>
                <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Enter password</label>
                <input type="text" th:field="*{password}" id="password" required/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="email">Enter email</label>
                <input type="text" th:field="*{email}" id="email" required/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">password error</div>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="roles">Enter roles</label>
                <input type="text" th:field="*{roles}" id="roles" required/>
                <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">roles error</div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="buttonAdd" value="Create!"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>